﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.contact = [
                    { firstname: "ashish", lastname: "mangla" },
                    { firstname: "varun", lastname: "text" },
                    {firstname: "testuser", lastname: "blab blab"},
                    {firstname: "lala", lastname: "mama"},
                    {firstname: "tata", lastname: "lala"},
                ]
                $scope.update = function () {
                    $scope.contact.push({ firstname: "length", lastname: "counter" });
                    console.log("update");
                }
               
            });
        }())
      
    </script>
  
    <title>angular tut1</title>
</head>
<body>
    

    <div class="" data-ng-controller="AppCtrl">
       total value: {{contact.length}}<br />
        the first name is {{contact[0].firstname}}
        <br />
        by using ng-data-template
        <div class="" ng-bind-template=" total value {{contact.length}} the first name is {{contact[0].firstname}}">
        </div>
    <button class=" " data-ng-click="update()">add me</button>    
        <div ng-non-bindable>{{test}} this is test for non bindable</div>
    </div>

   

    <script src="js/jquery-1.11.3.min.js"></script>
   

</body>
</html>
