﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.contacts = [
                    { firstname: "ashish", lastname: "mangla" },
                    { firstname: "varun", lastname: "text" },
                    {firstname: "testuser", lastname: "blab blab"},
                    {firstname: "lala", lastname: "mama"},
                    {firstname: "tata", lastname: "lala"},
                ]
            });
        }())
    </script>
  
    <title>angular tut5</title>
</head>
<body>
    
    <h4 >ng-repeat</h4>
    
    <div class="" data-ng-controller="AppCtrl">
        <ul>
             <li ng-repeat="prop in contacts[0]">{{prop}}</li>
        </ul>
        <ul>
            <li ng-repeat="(key, value) in contacts[0]">{{key}} - {{value}}</li>
        </ul>
        <table>
            <tr ng-repeat="contact in contacts">
                <td>{{contact.firstname}}</td>
               <td>{{contact.lastname}}</td>
            </tr>
        </table>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>firts</th>
                    <th>last</th>
                </tr>
            </thead>
            <tr ng-repeat="contact in contacts">
                <td>{{$index+1}}</td>
                <td>{{contact.firstname}}</td>
                <td>{{contact.lastname}}</td>
                <td>{{$first}}</td>
                <td>{{$last}}</td>
            </tr>
        </table>

    </div>
    <script src="js/jquery-1.11.3.min.js"></script>
   

</body>
</html>
