﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.data = {};

               
            });
        }())
    </script>
  
    <title>angular tut5</title>
</head>
<body>
    
    <h4 >ng-include</h4>
    
    <div class="" data-ng-controller="AppCtrl">
        
        <div data-ng-repeat="channel in ['none', 'sony','star world', 'star pluse']">
            <input type="radio" name="name" value="{{channel}} " data-ng-model="data.WhichChannel" ng-checked="$first" />{{channel}}
        </div>
        <div ng-switch on="data.WhichChannel">
            <div ng-switch-when="sony">you are watchig  sony</div>
            <div ng-switch-when="star world">you are watchig  star world</div>
            <div ng-switch-when="star pluse">you are watchig  star pluse</div>
                <div ng-switch-when ="none">you are watchig nothing</div>
            </div>
     
    </div>
    <script src="js/jquery-1.11.3.min.js"></script>
    

</body>
</html>
