﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null;
            myApp = angular.module(name, requires);
            myApp.controller("empCtrl", function ($scope) {
                $scope.employe = {
                    firstname: "ashsih",
                    lastname: "mangla",
                    occopation: "devloper",
                };
                $scope.testfun = function () {
                   console.log("this is through console")
                }
            });
        }())
      
    </script>
  
    <title>angular tut1</title>
</head>
<body>
    

    <div class="" data-ng-controller="empCtrl">
        <p>{{employe.firstname+ " " + employe.lastname +"-" + employe.occopation}}</p>
           <button data-ng-click="testfun()">click</button>
    </div>

   

    <script src="js/jquery-1.11.3.min.js"></script>
   

</body>
</html>
