﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.contact = [
                    { firstname: "ashish", lastname: "mangla" },
                    { firstname: "varun", lastname: "text" },
                    {firstname: "testuser", lastname: "blab blab"},
                    {firstname: "lala", lastname: "mama"},
                    {firstname: "tata", lastname: "lala"},
                ]
                
               
            });
        }())
      
    </script>
  
    <title>angular tut1</title>
</head>
<body>
    
    <h4>two way data binding</h4>
    
    <div class="" data-ng-controller="AppCtrl">
        <input type="text" name="name" value=" " data-ng-model="contact[0].firstname" /> <br />
        <input type="text" name="name" value=" " data-ng-model="lasttName" />
        <input type="button" name="name" value=" " data-ng-click="" />

    </div>
    <script src="js/jquery-1.11.3.min.js"></script>
   

</body>
</html>
