﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope,$timeout) {
               
                $scope.checkMe = true;
                $scope.url = "http://www.anantstones.in";
                $

                
            });
        }())
    </script>

    <title>angular tut</title>
</head>
<body>

    <h4>another example</h4>

    <div class="" data-ng-controller="AppCtrl">
        <input type="checkbox" name="name" value=" " data-ng-checked="{{checkMe}}"/> click me
        <button ng-disabled="{{checkMe}}">click me</button> 
        <input type="text" name="name" value="this is read only " ng-readonly="{{checkMe}}"/>
        <a href="{{url}}">content</a>

    </div>
    <script src="js/jquery-1.11.3.min.js"></script>


</body>
</html>
