﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.courses = [
                    { name: "QuickStart Angular jS", catgory: "Development", timeline: 1, price: 25 },
                    { name: "how to start a business", catgory: "Business", timeline: 50, price: 9 },
                     { name: "Body Language or Entrepreneurs", catgory: "personal development", timeline: 30, price: 5 },
                    { name: "User Experience Design Fundamentals", catgory: "Design", timeline: 20, price: 2 },

                ];
                $scope.getTargetDate = function (days) {
                    var now = new Date();
                    return now.setDate(now.getDate() + days);
                }
               

                
            });
        }())
    </script>

    <title>angular tut</title>
</head>
<body>
    <h4>another example</h4>

    <div class="" data-ng-controller="AppCtrl">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Course Name</th>
                    <th>Catgory</th>
                    <th>Time Line</th>
                    <th>Price</th>
                    <th>json</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in courses">
                    <td>{{index+1}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.catgory}}</td>
                    <td>{{ getTargetDate(course.timeline) | date:'dd MMMM yyyy'}}</td>
                    <td>{{course.price | currency: "₹ "}}</td>

                </tr>
            </tbody>
            
            <tr>
                <td></td>
            </tr>
        </table>
       
    </div>
    <script src="js/jquery-1.11.3.min.js"></script>


</body>
</html>
