﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.contacts = [
                    { firstname: "ashish", lastname: "mangla" },
                    { firstname: "varun", lastname: "text" },
                    { firstname: "testuser", lastname: "blab blab" },
                    { firstname: "lala", lastname: "mama" },
                    { firstname: "tata", lastname: "lala" },
                ];
                $scope.viewFile = function () {
                    if ($scope.ViewState) {
                        return "contact-list.html";
                    }
                    else {
                        return "table.html"
                    }

                }
               
            });
        }())
    </script>
  
    <title>angular tut5</title>
</head>
<body>
    
    <h4 >ng-include</h4>
    
    <div class="" data-ng-controller="AppCtrl">
        
        <input type="checkbox" name="name" value=" " data-ng-model="ViewState" /> toggle my class
        <div ng-include src="viewFile()"></div>
    </div>
    <script src="js/jquery-1.11.3.min.js"></script>
    

</body>
</html>
