﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <style>
        .strike{
            text-decoration:line-through;
        }
        .bold{
            font-weight:bold;
        }
        .red{
            color:red;
        }
    </style>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope,$timeout) {
               
               

                
            });
        }())
    </script>

    <title>angular tut</title>
</head>
<body>

    <h4>another example</h4>

    <div class="" data-ng-controller="AppCtrl">
        <input type="text" name="name" value=" " ng-model="style" placeholder="Type bold stricked red"/>
        <p ng-class="style">this is test</p>
        <hr />
        <input type="checkbox" name="name" value=" "  ng-model="deleted"/>deleted (apply strick class)<br />
        <input type="checkbox" name="name" value=" " ng-model="important" />import (apply "bold" class)<br />
        <input type="checkbox" name="name" value=" " ng-model="error" />error (apply "red" class)<br />
        <p ng-class="{strike:deleted, red:error, bold:important}">this is second example</p>
        <p ng-class="['strike', 'red' ,'bold']">this is using array</p>
    </div>
    <script src="js/jquery-1.11.3.min.js"></script>


</body>
</html>
