﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.taskData = taskData;
                $scope.onStatusClick = function () {
                    console.log(taskData.status);
                }
            });
        }())
      
    </script>
  
    <title>angular tut1</title>
</head>
<body>
    

    <div class="" data-ng-controller="AppCtrl">
       {{taskData.task}}
        <input type="checkbox" id="check1" data-ng-model="taskData.status" data-ng-click="onStatusClick()" />
    </div>

   

    <script src="js/jquery-1.11.3.min.js"></script>
   

</body>
</html>
