﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                taskData = {
                    task: "practicing javascript",
                    status: true
                }
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.contacts = [
                    { firstname: "ashish", lastname: "mangla" },
                    { firstname: "varun", lastname: "text" },
                    { firstname: "testuser", lastname: "blab blab" },
                    { firstname: "lala", lastname: "mama" },
                    { firstname: "tata", lastname: "lala" },
                ];
                $scope.toggleNewContact = false;
                $scope.showaddform = function () {
                    $scope.toggleNewContact = true;
                }
            });
        }())
    </script>

    <title>angular tut</title>
</head>
<body>

    <h4>ng-show, ng-hide</h4>

    <div class="" data-ng-controller="AppCtrl">
        
        
        
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>firts</th>
                    <th>last</th>
                </tr>
            </thead>
            <tr ng-repeat="contact in contacts">
                <td>{{$index+1}}</td>
                <td>{{contact.firstname}}</td>
                <td>{{contact.lastname}}</td>
                <td>{{$first}}</td>
                <td>{{$last}}</td>
            </tr>
        </table>
        <br />
        <button ng-click="showaddform()">Add new content</button>
        <form data-ng-show="toggleNewContact">
            firstname: <input type="text" name="name"/> <br />
            lastname: <input type="text" name="name"  /><br />
            <button>submit</button><br />
            <button data-ng-click="toggleNewContact = false;">Cancel</button><br />
        </form>
      


    </div>
    <script src="js/jquery-1.11.3.min.js"></script>


</body>
</html>
