﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null,
                
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function ($scope) {
                $scope.eventHandler = function (evt) {
                    console.log("event type" + evt.type + "triggered")
                }
               

                
            });
        }())
    </script>

    <title>angular tut</title>
</head>
<body>
    <h4>another example</h4>

    <div class="" data-ng-controller="AppCtrl">
        <button ng-click="eventHandler($event)"
                ng-mousedown="eventHandler($event)"
                ng-mouseenter="eventHandler($event)"
                ng-mouseleave="eventHandler($event)"
                ng-mouseup="eventHandler($event)">
            Button
        </button>
       
    </div>
    <script src="js/jquery-1.11.3.min.js"></script>


</body>
</html>
