﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <script src="js/angular.js"></script>
    <script>
        (function () {
            var name = "myApp",
                requires = [],
                myApp = null;
            myApp = angular.module(name, requires);
            myApp.service("addSvc", function () {
                this.add = function (firstNum, secondNum) {
                    return parseInt(firstNum) + parseInt(secondNum);
                }

            });
            myApp.service("subSvc", function () {
                this.sub = function (firstNum, secondNum) {
                    return parseInt(firstNum) - parseInt(secondNum);
                }

            });
            myApp.controller("empCtrl", function (addSvc, subSvc) {
               
                this.operator = "+";
                this.setOperation = function (operator) {
                    this.operator = operator;
                }

                this.calculator = function (firstNum, secondNum) {
                    if (this.operator === "+") {
                        this.result = addSvc.add(firstNum, secondNum);
                    }
                    else if(this.operator === "-"){
                        this.result = subSvc.sub(firstNum, secondNum);
                    }
                   
                }
            });
        }())
      
    </script>
  
    <title>angular tut1</title>
</head>
<body>
    

    <div class="" data-ng-controller="empCtrl as emp">
        first name: <input type="text" id="firstNumber" ng-model="emp.firstNum" /><br />
        last name: <input type="text" id="lastNumber" ng-model="emp.secondNum" /><br />
        <button id="but1" ng-click="emp.setOperation('+')">add (+)</button><br />   
        <button id="but2" ng-click="emp.setOperation('-')">sub (-)</button><br />
        <button id="but3" ng-click="emp.calculator(emp.firstNum, emp.secondNum)">test</button>
        <div ng-bind="emp.result"></div>
    </div>

   

    <script src="js/jquery-1.11.3.min.js"></script>
   

</body>
</html>
