﻿<ul>
    <li ng-repeat="prop in contacts[0]">{{prop}}</li>
</ul>
<ul>
    <li ng-repeat="(key, value) in contacts[0]">{{key}} - {{value}}</li>
</ul>
<table>
    <tr ng-repeat="contact in contacts">
        <td>{{contact.firstname}}</td>
        <td>{{contact.lastname}}</td>
    </tr>
</table>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>first name</th>
            <th>last name</th>
            <th>firts</th>
            <th>last</th>
        </tr>
    </thead>
    <tr ng-repeat="contact in contacts">
        <td>{{$index+1}}</td>
        <td>{{contact.firstname}}</td>
        <td>{{contact.lastname}}</td>
        <td>{{$first}}</td>
        <td>{{$last}}</td>
    </tr>
</table>
